div {
    width: 230px;
    height: 230px;
    margin: 20px auto;
    background-color: aqua;
    padding: 30px;
    text-align: justify;
    text-indent: 40px;
    border-left: 5px solid black;
    /* border left, right,top, bottom */
    border: 5px solid red;
    /* shorthand: width, style, color */
    /* border juga menambah ukuran dari width dan height */
}