div {
    width: 600px;
    margin: auto;
    box-sizing: border-box;
    /* box-sizing untuk fix ukuran width dan height */
    /* tidak terpengaruh oleh padding dan border */
}

.satu {
    background-color: coral;
    padding: 20px;
    border: 5px solid red;
}

.dua {
    background-color: lightseagreen;
    padding: 15px;
    border: 10px dotted green;
}