.container {
    width: 600px;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
}

.satu,
.dua,
.tiga {
    width: 100px;
    height: 100px;
}

.satu {
    background-color: lightcoral;
}

.dua {
    background-color: lightskyblue;
    float: right; /* kotak biru akan keluar dari flow */
}

.tiga {
    background-color: aquamarine;
}
