.container {
    width: 600px;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
    overflow: auto; /* clear float menggunakan overflow */
}

.kiri {
    width: 150px;
    height: 500px;
    background-color: coral;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.tengah {
    width: 300px;
    height: 500px;
    background-color: lightskyblue;
    float: left;
}

.kanan {
    width: 150px;
    height: 500px;
    background-color: limegreen;
    float: left;
}
