div {
    display: inline-block;
    /* agar satu baris dan dapat diubah dimensinya */
}

.satu {
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
    margin-right: 50px;
}
/* Margin overlapping horizontal akan dijumlahkan */

.dua {
    width: 150px;
    height: 150px;
    background-color: coral;
    margin-left: 50px;
}

.tiga {
    width: 75px;
    height: 75px;
    background-color: lightgreen;
}