html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Style */
body {
    background-image: url(img/background.png);
    font-family: Arial, Helvetica, sans-serif;
}

.top-bar {
    background-color: #005A8D;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.head {
    width: 960px;
    height: 50px;
    box-sizing: border-box;
    margin: auto;
    padding: 10px 30px;
    position: relative;
}

.head a {
    text-decoration: none;
    color: white;
}

.head h1 {
    font-size: 30px;
}

.nav {
    position: absolute;
    top: 18px;
    right: 30px;
}

.nav ul li {
    display: inline-block;
}

.nav a {
    margin-left: 20px;
}

.container {
    width: 960px;
    margin: auto;
    margin-top: 80px;
    background-color: #FFF5FD;
    position: relative;
}

.ribbon {
    width: 110px;
    height: 150px;
    position: absolute;
    right: 20px;
    top: -15px;
}

.ribbon img {
    width: 110px;
}

.header h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
    padding: 20px 30px;
}

.navigasi {
    padding: 20px 30px;
    margin-top: -30px;
}

.navigasi ul li {
    display: inline-block;
    margin-right: 10px;
}

.navigasi a {
    text-decoration: none;
    color: #005A8D;
}

.navigasi a:hover {
    color: #FF96AD;
}

.hero {
    height: 320px;
    background-image: url(img/hero.png);
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid #005A8D;
    border-top: 5px solid #FF96AD;
}

.main {
    padding: 20px 30px;
    width: 600px;
    float: left;
    box-sizing: border-box;
}

.main h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.main .penulis {
    color: grey;
    font-size: 12px;
    text-indent: 0;
}

.main a {
    text-decoration: none;
    color: #005A8D;
}

.main a:hover {
    color: #FF96AD;
}

.main p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: justify;
    text-indent: 20px;
}

.sidebar {
    width: 300px;
    float: right;
    padding: 20px;
}

.sidebar h3 {
    font: 18px/30px arial bold;
}

.sidebar img {
    width: 100px;
    float: left;
    padding-right: 10px;
}

.sidebar p {
    font: 13px/20px arial;
    text-align: justify;
}

.copyright {
    padding: 15px;
    background-color: #022E57;
    color: #FFF5FD;
    font-size: 15px;
    text-align: center;
}

/* Micro Clear fix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
