html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Style */
body {
    background-image: url(img/background.png);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 900px;
    margin: auto;
    background-color: #FFF5FD;
}

.header h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
    padding: 20px 30px;
}

.navigasi {
    padding: 20px 30px;
    margin-top: -30px;
}

.navigasi ul li {
    display: inline-block;
    margin-right: 10px;
}

.navigasi a {
    text-decoration: none;
    color: #005A8D;
}

.navigasi a:hover {
    color: #FF96AD;
}

.hero {
    height: 250px;
    background-image: url(img/hero.png);
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid #005A8D;
    border-top: 5px solid #FF96AD;
}

.content {
    padding: 20px 30px;
}

.content h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.content .penulis {
    color: grey;
    font-size: 12px;
    text-indent: 0;
}

.content a {
    text-decoration: none;
    color: #005A8D;
}

.content a:hover {
    color: #FF96AD;
}

.content p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: justify;
    text-indent: 20px;
}

.copyright {
    padding: 15px;
    background-color: #022E57;
    color: #FFF5FD;
    font-size: 15px;
    text-align: center;
}